.hero{
  width: 100%;
  height: 100vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/lowlowburger.appspot.com/o/background.png?alt=media&token=b013687d-c29f-440c-8119-9ba1c5d3cb32");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
#widget{
  padding-top: 100px;
  padding-right: 5px;
}
#table{
  padding-top: 100px;
}
