<router-outlet></router-outlet>
<div class="hero">
  <div class="row">
    <div class="col-6 col-md-6" id="table" >
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Orden</th>
          <th>Cantidad de productos</th>
          <th>Total de venta</th>
          <th>Fecha de creación</th>
          <th>Estado de orden</th>
          <th>Detalle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>numero_orden</td>
          <td>cantidad_productos</td>
          <td>item.total</td>
          <td>fecha_creacion</td>
          <td>estado_orden</td>
          <td style="text-align: center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary mr-1">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                  <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg></button>
              <button type="button" class="btn btn-outline-dark mr-1" >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                </svg>
              </button>
            </div>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-1"></div>
    <div class="col-4" id="widget"><app-widget-area></app-widget-area></div>

  </div>
  <br>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-1"></div>
    <div class="col-4">
      <app-widget-pie></app-widget-pie>
    </div>
    <div class="col-1"></div>
  </div>
</div>


