<div class="hero">
  <div class="row">
    <div class="col">
      <div class="card opaci">
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-4">
      <div class="card formCard">
        <div class="card-body body">
          <h5 class="card-title title">LOW LOW BURGUER'S TEAM</h5>
          <h6 class="card-subtitle subtitle">Escribe tu correo para
            la recuperación de contraseña</h6>
          <form>
            <div class="form-group">
              <input type="email" placeholder="Email Adress" class="form-control radius" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
          </form>
          <div class="row" style="padding-top: 2%">
            <div class="col">
              <button type="button" class="btn btn-recuperar">Recover</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card opaci">
        <div class="card-body"></div>
      </div>
    </div>
  </div>
</div>

