<router-outlet></router-outlet>
<div class="hero">
<div class="row">
  <div class="col-3" id="cardsPad">
    <div class="card">
      <img class="card-img-top" src="assets/images/miller.jpg" alt="Card image cap" >
      <div class="card-body" >
        <p class="card-text">JALAPEÑO</p>
      </div>
    </div>
    <br>
    <div class="card">
      <img class="card-img-top" src="assets/images/jalapeño.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">DOBLE</p>
      </div>
    </div>
  </div>
  <div class="col-3" id="cardsPad2">
    <div class="card" >
      <img class="card-img-top" src="assets/images/miller.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">MILLER</p>
      </div>
    </div>
    <br>
    <div class="card" >
      <img class="card-img-top" src="assets/images/jalapeño.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">CLASSIC</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <p style="padding-top: 60px"></p>
    <div class="card" style="width: 35rem; background-color: #242424; border-radius: 30px" >
      <h5 class="card-title" style="text-align: center; color: white; padding-top: 20px">ORDEN ACTUAL</h5>
      <br>
      <ul class="list-group list-group-flush" id="cardsPad3">
        <li class="list-group-item" style="border-radius: 40px">
          <div class="row">
          <div class="col-3"><img src="assets/images/regular.jpg" width="70px" height="70px" style="border-radius: 20px"></div>
          <div class="col-3" style="text-align: center; padding-top: 20px">Extras</div>
          <div class="col-3" style="text-align: center; padding-top: 20px">Precio</div>
            <div class="col-3" style="text-align: center; padding-top: 20px"><svg width="2em" height="2em"  color="#ff0000" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg></div>
          </div>
        </li>
        <p></p>
        <li class="list-group-item" style="border-radius: 40px">
          <div class="row">
          <div class="col-3"><img src="assets/images/regular.jpg" width="70px" height="70px" style="border-radius: 20px"></div>
          <div class="col-3" style="text-align: center; padding-top: 20px">Extras</div>
          <div class="col-3" style="text-align: center; padding-top: 20px">Precio</div>
            <div class="col-3" style="text-align: center; padding-top: 20px"><svg width="2em" height="2em"  color="#ff0000" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg></div>
          </div>
        </li>
        <p></p>
        <li class="list-group-item" style="border-radius: 40px">
          <div class="row">
          <div class="col-3"><img src="assets/images/regular.jpg" width="70px" height="70px" style="border-radius: 20px"></div>
          <div class="col-3" style="text-align: center; padding-top: 20px">Extras</div>
          <div class="col-3" style="text-align: center; padding-top: 20px">Precio</div>
            <div class="col-3" style="text-align: center; padding-top: 20px"><svg width="2em" height="2em"  color="#ff0000" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg></div>
          </div>
        </li>
        <p></p>
        <li class="list-group-item" style="border-radius: 40px">
          <div class="row">
          <div class="col-3"><img src="assets/images/regular.jpg" width="70px" height="70px" style="border-radius: 20px"></div>
          <div class="col-3" style="text-align: center; padding-top: 20px">Extras</div>
          <div class="col-3" style="text-align: center; padding-top: 20px">Precio</div>
            <div class="col-3" style="text-align: center; padding-top: 20px"><svg width="2em" height="2em"  color="#ff0000" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg></div>
          </div>
        </li>
        <br>
        <li class="list-group-item" style="background-color: #242424">
          <div class="row">
            <div class="col-4" style="padding-left: 90px">
              <button type="button" class="btn btn-light" style="border-radius: 20px; width: 130px">
                <svg width="2em" height="2em" viewBox="0 0 16 16" color="#008000" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                </svg>
                OK!
              </button>
            </div>
            <div class="col-4"></div>
            <div class="col-4" style="color: orange">TOTAL: $450</div>

          </div>

        </li>



      </ul>
    </div>
  </div>


</div>



</div>

